@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

html.dark {
  --background: #000000;
  --foreground: #FFFFFF;
  background-color: var(--background);
  color: var(--foreground);
}
